<%# <div class="hero-banner-searchbox"> %>
  <div class="search-bar">
    <ul class="search-options">
      <li>Lieu</li>
        <input type="search" id= "search-input" placeholder="Lieu de cérémonie">
      <li>Date</li>
      <input type="search" id= "search-input" placeholder="Quand?">
      <li>Genre</li>
      <input type="search" id= "search-input" placeholder= "Témoin recherché?">
      <button type="submit">Rechercher</button>
  </ul>
</div>

<div class="container py-3">
  <section class="cards-section">
    <% @witnesses.each do |witness| %>
      <div class="card">
        <%# <% <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Image 1"> %>
        <%= image_tag witness.photo %>
        <div class="card-info">
          <h3><%= witness.name %></h3>
          <% words = witness.description.to_s.split(' ') %>
          <% truncated_description = words.first(20).join(' ') %>
          <p> <%= truncated_description %>...</p>
        <%= link_to "Voir plus", witness_path(witness.id), class: "green-btn" %>

        </div>
      </div>
    <% end %>
  </section>
</div>


<div>
<footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Sois mon Témoin.</p>
            <ul class="footer-links">
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT OURS WITNESSES</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
        </div>
    </footer>
</div>
