<h2> Hello World </h2>


<div class="container py-3">
<section class="cards-section">
<% @witnesses.each do |w| %>
  <div class="card">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Image 1">
      <div class="card-info">
        <h3>Name 1<%= w.name %></h3>
          <p>Card description 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<%= w.description%></p>
            <button><%= link_to "Voir plus", "/user/id" %></button>
    <% end %>
      </div>
  </div>

  <div class="card">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Image 2">
      <div class="card-info">
        <h3>Name 2</h3>
        <p>Card description 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <button>Voir plus</button>
      </div>
  </div>

    <div class="card">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Image 2">
      <div class="card-info">
        <h3>Name 3</h3>
        <p>Card description 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <button>Voir plus</button>
      </div>
  </div>

     <div class="card">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Image 2">
      <div class="card-info">
        <h3>Name 4</h3>
        <p>Card description 4. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <button>Voir plus</button>
      </div>
  </div>

       <div class="card">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Image 2">
      <div class="card-info">
        <h3>Name 4</h3>
        <p>Card description 4. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <button>Voir plus</button>
      </div>
  </div>

       <div class="card">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Image 2">
      <div class="card-info">
        <h3>Name 4</h3>
        <p>Card description 4. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <button>Voir plus</button>
      </div>
  </div>
 </section>
</div>
