.green-btn {
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  padding: 10px 20px;
  border-radius: 28px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
          }

.green-btn-nav {
  background-color: $secondary-color; /* Couleur de fond */
  color: $primary-color; /* Couleur du texte */
  border: none;
  padding: 10px 20px;
  border-radius: 28px;
  margin-right: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;

  &:hover {
    background-color: $primary-color; /* Couleur de fond au survol */
    color: $secondary-color; /* Couleur du texte au survol */
    border: solid 1px $secondary-color; /* Bordure au survol */
  }
}
