.navbar-lewagon {
  justify-content: space-between;
  background: $primary-color;
  text-decoration: none;
  margin-bottom: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link {
  justify-content: center;
  margin-right: 700px;
}


